/**
 * Demo Styles
 */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/**
 * Footer Styles
 */

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.nav-wrap{
	@media (min-width: 1200px){
		max-width: 960px;
		margin: 0 auto;
	}
}

/*top image*/
#banner {
  height: 250px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../candy.jpg');
}

.weatherbox {
	padding: 20px 30px;
	box-shadow: 2px 2px 5px #DDD;
	margin: 10px 0;

	.info {
		display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}

	.city {
		float:left;
		width: 64%;

		.cityname {
		text-transform: uppercase;
		letter-spacing:2px;
		font-size: smaller;
		}

		.temp {
			font-size: 50px;
		}
	}
	
	.icon {
		width: 30%;
		float:right;
		margin-top: 10px;
		i {
			font-size: 70px;
			color: #CCC;
		}
	}

	.details {
		padding-top: 10px;
		font-size: smaller;
		letter-spacing:1px;
	}
	
}

.container {
	max-width: 600px;
	margin: 0 auto;
}
.todo-input {
	width: 100%;
	padding: 10px 18px;
	font-size: 18px;
	margin-bottom: 16px;

	&:focus{
		outline: 0;
	}
}

.todo-item {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
	animation-duration: 0.2s;

	.remove-item {
		cursor: pointer;
		margin-left: 14px;

		&:hover {
			color: pink;
		}
	}
}

.todo-item-left {
	display:flex;
	align-items: center;
}

.todo-item-label {
	padding: 10px;
	border: 1px solid #FFF;
	margin-left: 12px;
}

.todo-item-edit {
	font-size: 24px;
	color: #0069B4;
	margin: 2px 2px 2px 12px;
	width: 100%;
	padding: 10px;
	border: 1px solid #CCC;

	&:focus {
		outline: none;
	}
}

.completed {
	text-decoration: line-through;
	color: #CCC;
}

.extra-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	border-top: 1px solid lightgrey;
	padding-top: 14px;
}

button {
	font-size: 14px;
	background-color: #FFF;

	&:hover {
		background-color: pink;
	}

	&:focus {
		outline: none;
	}
}

.active {
	background: lightblue;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}