/**
 * Demo Styles
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

/**
 * Footer Styles
 */
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; }

@media (min-width: 1200px) {
  .nav-wrap {
    max-width: 960px;
    margin: 0 auto; } }

/*top image*/
#banner {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../candy.jpg"); }

.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 200px; }

.weatherbox {
  padding: 20px 30px;
  -webkit-box-shadow: 2px 2px 5px #DDD;
  box-shadow: 2px 2px 5px #DDD;
  margin: 10px 0; }
  .weatherbox .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .weatherbox .city {
    float: left;
    width: 64%; }
    .weatherbox .city .cityname {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: smaller; }
    .weatherbox .city .temp {
      font-size: 50px; }
  .weatherbox .icon {
    width: 30%;
    float: right;
    margin-top: 10px; }
    .weatherbox .icon i {
      font-size: 70px;
      color: #CCC; }
  .weatherbox .details {
    padding-top: 10px;
    font-size: smaller;
    letter-spacing: 1px; }

.todo-input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom: 16px; }
  .todo-input:focus {
    outline: 0; }

.todo-item {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 24px;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s; }
  .todo-item .remove-item {
    cursor: pointer;
    margin-left: 14px; }
    .todo-item .remove-item:hover {
      color: pink; }

.todo-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.todo-item-label {
  padding: 10px;
  border: 1px solid #FFF;
  margin-left: 12px; }

.todo-item-edit {
  font-size: 24px;
  color: #0069B4;
  margin: 2px 2px 2px 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #CCC; }
  .todo-item-edit:focus {
    outline: none; }

.completed {
  text-decoration: line-through;
  color: #CCC; }

.extra-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px; }

button {
  font-size: 14px;
  background-color: #FFF;
  font-family: Open Sans; }
  button:hover {
    background-color: pink; }
  button:focus {
    outline: none; }

.active {
  background: lightblue; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

/* Quote App -- START */
blockquote, figure, figcaption {
  margin: 0; }

.notepaper {
  position: relative;
  margin: 40px auto;
  padding: 29px 44px 20px 65px;
  width: 100%;
  line-height: 30px;
  color: #6a5f49;
  text-shadow: 0 1px 1px white;
  background-color: #f2f6c1;
  background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  border: 1px solid #c3baaa;
  border-color: rgba(195, 186, 170, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02); }
  .notepaper:before, .notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0; }
  .notepaper:before {
    left: 38px;
    width: 4px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px; }
  .notepaper:after {
    z-index: -1;
    left: 2px;
    bottom: -4px;
    right: 0;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    /*   -webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		transform: rotate(2deg); */ }
  .notepaper input[type=text], .notepaper input[type=password], .notepaper select, .notepaper textarea {
    display: block;
    padding: 10px 15px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important; }
  .notepaper button {
    display: block;
    padding: 10px;
    margin: 10px auto;
    background-color: #FE7B5F;
    color: #FFF;
    border: 1px solid #FE7B5F;
    width: 100%;
    outline: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    cursor: pointer;
    border-radius: 40px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .notepaper button:hover {
      background-color: #FFF;
      color: #FE7B5F;
      border: 1px solid #FE7B5F; }

.paper {
  padding: 8px 15px 27px 55px;
  position: relative;
  border: 1px solid #B5B5B5;
  background: white;
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DFE8EC), color-stop(8%, white)) 0 57px;
  background: -o-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px; }
  .paper:before {
    content: "";
    z-index: -1;
    margin: 0 1px;
    width: 99%;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: white;
    border: 1px solid #B5B5B5; }
  .paper:after {
    content: '';
    position: absolute;
    width: 0px;
    top: 0;
    left: 39px;
    bottom: 0;
    border-left: 1px solid #F8D3D3; }

#list {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em;
  /* 30px */
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em;
  /* 30px */
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em;
  /* 30px */
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 1.875em;
  /* 30px */
  column-fill: auto; }
  @media only screen and (max-width: 40em) {
    #list {
      -webkit-column-count: 2;
      -webkit-column-gap: 0.938em;
      /* 15px */
      -moz-column-count: 2;
      -moz-column-gap: 0.938em;
      /* 15px */
      column-count: 2;
      column-gap: 0.938em;
      /* 15px */ } }
  @media only screen and (max-width: 20em) {
    #list {
      -webkit-column-count: auto;
      -moz-column-count: auto;
      column-count: auto; } }
  #list .item {
    margin-bottom: 1.875em;
    /* 15px 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid; }
    @media only screen and (max-width: 40em) {
      #list .item {
        margin-bottom: 0.938em;
        /* 15px */ } }
    #list .item #instructions {
      font: 16px 'AmericanTypewriter', Cambria, Georgia;
      color: #282625;
      margin: 0 auto; }
    #list .item .curly-quotes {
      line-height: 30px; }
      #list .item .curly-quotes:before, #list .item .curly-quotes:after {
        display: inline-block;
        vertical-align: top;
        height: 30px;
        line-height: 48px;
        font-size: 50px;
        opacity: .2; }
      #list .item .curly-quotes:before {
        content: '\201C';
        font-family: Georgia, serif;
        margin-right: 4px;
        margin-left: -8px; }
      #list .item .curly-quotes:after {
        content: '\201D';
        font-family: Georgia, serif;
        margin-left: 4px;
        margin-right: -8px; }
    #list .item .author {
      display: block;
      padding-right: 10px;
      text-align: right;
      font-size: 13px;
      line-height: 29px;
      font-style: italic;
      color: #84775c; }

/* Quote App -- END */
